In [ ]:
#Shark attacks

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [2]:
df= pd.read_excel("GSAF5.xls")

In [3]:
pd.options.display.max_columns = None  
df.head()

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,Injury,Fatal Y/N,Time,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,20th January,2026.0,Unprovoked,Australia,NSW,Point Plomber North of Port Macquarie,Surfing,Paul Zvirdinas,M,39,Minor cuts and abrasions,N,0830hrs,Bull shark,Bob Myatt GSAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,19th January,2026.0,Unprovoked,Australia,NSW,Dee Why,Surfing,Unknown,M,11,None reported damage to board,N,1145hrs,Bull shark,Andy Currie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,19th January,2026.0,Unprovoked,Australia,NSW,North Steyne,Surfing,Andre de Ruyter,M,27,Serious Leg injuries,N,1820hrs,5m shark species not determined,9 News: Bob Myatt GSAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,18th January,2026.0,Unprovoked,Australia,NSW,Nielsen Park Vaucluse Sydney Harbour,Jumping off rocks,Nico Antic,M,12,Serious leg injuries,Y,1620hrs,Bull shark,Bob Myatt GSAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10th January,2026.0,Unprovoked,Australia,NSW,Avalon Beach,Surfing,Paul Stanton,M,?,Puncture mark to left thumb,N,0540hrs,Unknown,Bob Myatt GSAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df.shape

(7070, 23)

In [14]:
df.columns

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Fatal Y/N', 'Time', 'Species ',
       'Source', 'pdf', 'href formula', 'href', 'Case Number', 'Case Number.1',
       'original order', 'Unnamed: 21', 'Unnamed: 22'],
      dtype='object')

In [15]:
df.info()
df.dtypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7070 entries, 0 to 7069
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            7070 non-null   object
 1   Year            7068 non-null   float64
 2   Type            7052 non-null   object
 3   Country         7020 non-null   object
 4   State           6583 non-null   object
 5   Location        6503 non-null   object
 6   Activity        6485 non-null   object
 7   Name            6851 non-null   object
 8   Sex             6491 non-null   object
 9   Age             4075 non-null   object
 10  Injury          7035 non-null   object
 11  Fatal Y/N       6509 non-null   object
 12  Time            3543 non-null   object
 13  Species         3939 non-null   object
 14  Source          7050 non-null   object
 15  pdf             6799 non-null   object
 16  href formula    6794 non-null   object
 17  href            6796 non-null   object
 18  Case Number     6798 non-null   object
 19  Case Number.1   6797 non-null   object
 20  original order  6799 non-null   float64
 21  Unnamed: 21     1 non-null      object
 22  Unnamed: 22     2 non-null      object
dtypes: float64(2), object(21)
memory usage: 1.2+ MB

Date               object
Year              float64
Type               object
Country            object
State              object
Location           object
Activity           object
Name               object
Sex                object
Age                object
Injury             object
Fatal Y/N          object
Time               object
Species            object
Source             object
pdf                object
href formula       object
href               object
Case Number        object
Case Number.1      object
original order    float64
Unnamed: 21        object
Unnamed: 22        object
dtype: object

Descriptive analytics: Count methods for columns: activity

In [16]:
df["Activity"].value_counts()

Activity
Surfing                                          1146
Swimming                                         1011
Fishing                                           494
Spearfishing                                      391
Wading                                            178
                                                 ...
Floating on a small orange raft                     1
Filming & feeding captive sharks                    1
Attempting to drive shark away from the beach       1
Spearfishing / scuba diving                         1
Wreck of  large double sailing canoe                1
Name: count, Length: 1610, dtype: int64

In [17]:
df["Injury"].value_counts()

Injury
FATAL                                                                   863
Foot bitten                                                             100
Survived                                                                 97
No injury                                                                85
Leg bitten                                                               81
                                                                       ...
Right wrist  & left arm lacerated                                         1
Puncture wounds on shin                                                   1
Left hand, foot severed &  left calf & arm bitten                         1
Single puncture wound on the foot                                         1
FATAL. "Shark bit him in half, carrying away the lower extremities"       1
Name: count, Length: 4183, dtype: int64

In [19]:
df["Type"].value_counts()

Type
Unprovoked             5221
Provoked                642
Invalid                 552
Watercraft              355
Sea Disaster            242
Questionable             26
Boat                      7
 Provoked                 2
unprovoked                1
?                         1
Unconfirmed               1
Unverified                1
Under investigation       1
Name: count, dtype: int64

In [4]:
df["Activity"].isna().sum()

np.int64(585)

In [5]:
df["Activity"].unique() #too many unique values, so we need to clean and standardize the data

array(['Surfing', 'Jumping off rocks', 'Snorkeling', ...,
       'Crew swimming alongside their anchored ship',
       '4 men were bathing', 'Wreck of  large double sailing canoe'],
      shape=(1611,), dtype=object)

In [18]:
df["Sex"].value_counts()

Sex
M        5670
F         808
M           4
F           2
N           2
 M          1
m           1
lli         1
M x 2       1
.           1
Name: count, dtype: int64

CLEANING COLUMNS 

1. import re (for regex expresions)
2. Cleaning column names with rename(columns= lambda x: x.lower().strip()., inplace=True ) ---> instead of type - attack_type, fataly_/n - fatal_atack 
3. Remove columns we don't need

In [4]:
df.head()

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,Injury,Fatal Y/N,Time,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,20th January,2026.0,Unprovoked,Australia,NSW,Point Plomber North of Port Macquarie,Surfing,Paul Zvirdinas,M,39,Minor cuts and abrasions,N,0830hrs,Bull shark,Bob Myatt GSAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,19th January,2026.0,Unprovoked,Australia,NSW,Dee Why,Surfing,Unknown,M,11,None reported damage to board,N,1145hrs,Bull shark,Andy Currie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,19th January,2026.0,Unprovoked,Australia,NSW,North Steyne,Surfing,Andre de Ruyter,M,27,Serious Leg injuries,N,1820hrs,5m shark species not determined,9 News: Bob Myatt GSAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,18th January,2026.0,Unprovoked,Australia,NSW,Nielsen Park Vaucluse Sydney Harbour,Jumping off rocks,Nico Antic,M,12,Serious leg injuries,Y,1620hrs,Bull shark,Bob Myatt GSAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10th January,2026.0,Unprovoked,Australia,NSW,Avalon Beach,Surfing,Paul Stanton,M,?,Puncture mark to left thumb,N,0540hrs,Unknown,Bob Myatt GSAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.columns

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Fatal Y/N', 'Time', 'Species ',
       'Source', 'pdf', 'href formula', 'href', 'Case Number', 'Case Number.1',
       'original order', 'Unnamed: 21', 'Unnamed: 22'],
      dtype='object')

In [3]:
# remove multiple columns:
df = df.drop(['Source', 'pdf', 'href formula', 'href', 'Case Number', 'Case Number.1','original order', 'Unnamed: 21', 'Unnamed: 22','Fatal Y/N', 'Time'], axis=1)
df.head(3)

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,Injury,Species
0,20th January,2026.0,Unprovoked,Australia,NSW,Point Plomber North of Port Macquarie,Surfing,Paul Zvirdinas,M,39,Minor cuts and abrasions,Bull shark
1,19th January,2026.0,Unprovoked,Australia,NSW,Dee Why,Surfing,Unknown,M,11,None reported damage to board,Bull shark
2,19th January,2026.0,Unprovoked,Australia,NSW,North Steyne,Surfing,Andre de Ruyter,M,27,Serious Leg injuries,5m shark species not determined

In [4]:
df.dropna(subset=['Activity'], inplace= True)
df.isna().sum()

Date           0
Year           2
Type          14
Country       43
State        403
Location     475
Activity       0
Name         157
Sex          425
Age         2572
Injury        19
Species     2788
dtype: int64

In [5]:
df.rename(columns= lambda x: x.lower().strip().replace(" ", "_").replace (":"," ").replace("." , " "), inplace=True)
df.head()

,date,year,type,country,state,location,activity,name,sex,age,injury,species
0,20th January,2026.0,Unprovoked,Australia,NSW,Point Plomber North of Port Macquarie,Surfing,Paul Zvirdinas,M,39,Minor cuts and abrasions,Bull shark
1,19th January,2026.0,Unprovoked,Australia,NSW,Dee Why,Surfing,Unknown,M,11,None reported damage to board,Bull shark
2,19th January,2026.0,Unprovoked,Australia,NSW,North Steyne,Surfing,Andre de Ruyter,M,27,Serious Leg injuries,5m shark species not determined
3,18th January,2026.0,Unprovoked,Australia,NSW,Nielsen Park Vaucluse Sydney Harbour,Jumping off rocks,Nico Antic,M,12,Serious leg injuries,Bull shark
4,10th January,2026.0,Unprovoked,Australia,NSW,Avalon Beach,Surfing,Paul Stanton,M,?,Puncture mark to left thumb,Unknown

CLEANING INVALID VALUES/ NULL VALUES 
1. Checking null values - isnull()
2. Dropping null values - dropna() for rows/ dropna(axis=1) for columns

In [6]:
df.isna().sum()

date           0
year           2
type          14
country       43
state        403
location     475
activity       0
name         157
sex          425
age         2572
injury        19
species     2788
dtype: int64

In [7]:
df_unique_counts = df.nunique()
print(df_unique_counts)

date        5655
year         239
type          13
country      244
state        884
location    4329
activity    1610
name        5435
sex            9
age          242
injury      3905
species     1686
dtype: int64

# Cleaning sex data

In [8]:
print(df['sex'].unique())
df['sex'] = df['sex'].str.strip()

sex_mapping = {
    "N": np.nan,
    "lli": np.nan,
    ".": np.nan,
    "M x 2": "M",
    "m": "M",
    "f": "F"
}
df['sex'] = df['sex'].replace(sex_mapping)
df['sex']= df['sex'].fillna('unknown')
print(df['sex'].unique())

['M' 'F' 'F ' 'M ' nan 'm' 'lli' 'M x 2' 'N' '.']
['M' 'F' 'unknown']

In [9]:
df["type"].unique()
df['type'] = df['type'].str.strip()
type_mapping = {
    "Unprovoked": "Unprovoked",
    "Provoked": "Provoked",
    "Boating": np.nan,
    "Invalid": np.nan,
    "Sea Disaster": "Unprovoked",
    "?":  np.nan,
    "Boat": np.nan,
    "Invalid ": np.nan,
    "Questionable": np.nan,
    "Unconfirmed": np.nan,
    "Unverified": np.nan,
    "Under investigation": np.nan,
    "Watercraft": np.nan,
    "unprovoked": "Unprovoked",
    "Invalid Incident": np.nan,
    "Invalid ": np.nan
}
df['type'] = df['type'].replace(type_mapping)
df['type']= df['type'].fillna('Unknown')
print(df['type'].unique())

['Unprovoked' 'Provoked' 'Unknown']

In [10]:
df[df["activity"].str.contains("swimming")]

,date,year,type,country,state,location,activity,name,sex,age,injury,species
19,11th October,2025.0,Unprovoked,Australia,Queensland,Cook Esplanade Thursday Island,Fishing/swimming,Samuel Nai,M,14,Serious abdonminal injuries,Tiger or Bull shark
103,2024-06-07 00:00:00,2024.0,Unprovoked,USA,Hawaii,"Haleiwa, Oahu",Unconfirmed Possibly swimming near the boat ha...,Not Released,F,25,Multiple serious lacerations to the body,Not stated area has Tiger and Galapogas sharks
1371,29-Aug-2013,2013.0,Unknown,USA,California,Catalina Channel,Marathon swimming,Charlotte Brynn,F,47,Puncture wound to torso. Reported as a bite by...,No shark involvement
1490,15-Aug-2012,2012.0,Unprovoked,USA,Alabama,"Gulf Shores, Baldwin County",Wading or swimming,"male, a tourist from Germany",M,31,Lacerations to leg,NaN
2408,23-May-2004,2004.0,Unprovoked,USA,Florida,"St. Augustine, St. John's County",Boogie-boarding / swimming,male,M,9,Calf & foot lacerated,NaN
2829,06-Nov-1999,1999.0,Unprovoked,BRAZIL,Rio de Janeiro,"Rio de Janeiro, Guanabara Bay","Spearfishing, but swimming at surface",male,M,39,Upper right thigh bitten,1.3 to 1.6 m shark
3436,02-Feb-1989,1989.0,Unprovoked,ITALY,Tyrrhenian Sea,"Golfo di Baratti, near Piombino (Tuscany)","Scuba diving, but swimming on surface",Luciano Costanzo,M,47,FATAL. His body not recovered,6 m [20'] white shark
3746,13-Dec-1981,1981.0,Unprovoked,USA,Hawaii,"Nimitz Beach, Barbers Point, O'ahu","Spearfishing, but swimming on surface",Melvin T. Toma,M,NaN,Right leg severely bitten,"Tiger shark, 3.7 m [12']"
3836,28-Aug-1979,1979.0,Unprovoked,HONG KONG,NaN,Mirs Bay,Freedom swimming,male,M,21,"Leg severed, FATAL",NaN
3959,04-Aug-1975,1975.0,Unprovoked,HONG KONG,Mirs Bay,NaN,Freedom swimming,male,M,24,"Leg bitten, surgically amputated",NaN
4005,16-Aug-1974,1974.0,Unprovoked,HONG KONG,Mirs Bay,NaN,Freedom swimming,male,M,NaN,FATAL,NaN
4006,16-Aug-1974,1974.0,Unprovoked,HONG KONG,Mirs Bay,NaN,Freedom swimming,Ho-Sin-Ming (male),M,19,Arm broken & severely lacerated,NaN
4007,16-Aug-1974,1974.0,Unprovoked,HONG KONG,Mirs Bay,NaN,Freedom swimming,Yee Wing Ping (male),M,18,Left foot bitten,NaN
4218,10-Jul-1968,1968.0,Unprovoked,BAHAMAS,Great Exuma Island,Children's Bay Cay near Rollerville,Small boat with 2 men onboard hit a submerged ...,male,M,NaN,"FATAL, taken by shark",NaN
4286,06-Feb-1967,1967.0,Unprovoked,MEXICO,Veracruz,Cabo Rojo,The shrimper Loless Maurine capsized in heavy ...,Carlos Humberto Mendez & Esteban Robles,M,NaN,FATAL,NaN
4403,09-Dec-1964,1964.0,Unprovoked,PAPUA NEW GUINEA,Bougainville (North Solomons),"Off Sing Village, Buka Island","Canoe swamped, swimming back to canoe","Soso, a male",M,28,Survived,2.1 m [7'] shark
4411,04-Oct-1964,1964.0,Unprovoked,AUSTRALIA,Western Australia,"Avalon Beach, near Mandurah, 50 miles south of...","Surfing, but swimming to his board",Murray Henderson,M,19,Abrasions & 11 teethmarks on right lower leg,"Grey nurse shark, 1.8 m [6']"
4688,01-Jan-1961,1961.0,Unprovoked,COLUMBIA,Roncador Bank,"Roncador Bank, 135 nm north of San Andres",Taking boat from California to Florida when it...,Joe Chaney,M,NaN,Leg bitten,1.8 m [6'] shark
4919,27-Jan-1958,1958.0,Unprovoked,AUSTRALIA,New South Wales,5 miles south of Sussex Inlet at mouth of Bera...,Spearfishing / swimming on surface,Ronald Kerwand,M,17,Right leg lacerated,NaN
5067,29-Dec-1954,1954.0,Unprovoked,AMERICAN SAMOA,Tutuila Island,Near tuna cannery in Pago Pago Harbor,Dived overboard & was swimming near stern of t...,"Kosuo Mizokawa, Captain of a Japanese trawler",M,27,FATAL,NaN
5370,19-Sep-1945,1945.0,Unprovoked,OKINAWA,NaN,NaN,American minesweeper USS YMS-472 foundered in ...,Lowell J. Bemis,M,20,Laceration to arm,NaN
5371,16-Sep-1945,1945.0,Unprovoked,JAPAN,Ryukyu,NaN,American minesweeper USS YMS-350 lost in a typ...,sailor,M,NaN,FATAL,NaN
5391,25-Oct-1944,1944.0,Unprovoked,PHILIPPINES,Off Samar Island in the Gulf of Leyte,NaN,USS Johnston DD 557 sunk on 10/24/1944 in the ...,"William Clinton Carter, Jr. & 2 other men",M,NaN,"Clinton was bitten on his back, 2 others did n...",NaN
5422,Aug-1943,1943.0,Unprovoked,ITALY,40 miles south of Naples,Tyrrhenian Sea,Flying Fortress bomber aircraft went down afte...,"Lieutenant Robert D. Kurz (U.S.), co-pilot",M,NaN,"Bitten on arms, hands & feet while awaiting re...",NaN
5432,5-Apr-1943,1943.0,Unknown,USA,Hawaii,"3 miles from shore off McGregor Point, Maui","Small boat swamped, 4 people swimming to shor...",Leonard Gant,M,NaN,On 29-Apr-1943 his remains (right forearm & sw...,Shark involvement prior to death unconfirmed
5449,13-Nov-1942,1942.0,Unprovoked,SOLOMON ISLANDS,NaN,Off Guadalcanal,"Anti-Aircraft cruiser USS Atlanta (CL,-05) tra...","Sam Hicks, a gunner",M,NaN,"Injured by sharks, but managed to swim ashore ...",NaN
5457,12-Sep-1942,1942.0,Unprovoked,ATLANTIC OCEAN,NaN,360 miles north of Ascension Island,"The Pacquebot Laconia, enroute to Liverpool wi...",Michael Setti,M,NaN,Calf lacerated. He was rescued by German subma...,NaN
5543,Reported 25-Oct-1939,1939.0,Unprovoked,AUSTRALIA,Queensland,Near Restoration Rock off Portland Roads,"Free diving for trochus shell, swimming to dinghy",Small Cobbe,M,27,"Both thighs were lacerated, recovered at Thurs...","Tiger shark, 4.3 m [14'], 3 tooth fragments re..."
5605,15-May-1937,1937.0,Unprovoked,AUSTRALIA,Queensland,"Ross River, Townsville","Refused permission to cross on the ferry, he w...",William Tennant,M,33,"FATAL, left arm severed at elbow, right arm bi...",2 days later a 600-lb shark was caught 100 yar...
5632,26-Jun-1936,1936.0,Unprovoked,AUSTRALIA,Torres Strait,Nepean Island,"Diving for trochus , but swimming on surface","Willie, an aboriginal",M,16,FATAL,"Tiger shark, 2.4 m [8']"
5871,Some time between 08-Jan-1928 & 21-Jan-1928,1928.0,Unknown,USA,Florida,Off Florida coast,Jumped overboard and swimming,Two stowaways on German steamer Vela,M,NaN,"FATAL, presumed taken by shark/s",Shark involvement not confirmed
5938,25-Apr-1924,1924.0,Unprovoked,AUSTRALIA,New South Wales,Kiama,"Fishing, fell in water & swimming strongly to ...",Ernest Conroy,M,20,"FATAL, partial remains recovered",NaN
5947,09-Jan-1924,1924.0,Unprovoked,AUSTRALIA,New South Wales,"Near Asbestos Works, Camellia, Parramatta River",Had just dived into water & was swimming,Charles Brown,M,16,"FATAL, right thigh severely bitten, left arm l...",3 m [10'] shark
6010,08-Mar-1920,1920.0,Unprovoked,AUSTRALIA,Queensland,"Between Bay Rock & Magnetic Island, Cleveland Bay","Boat capsized, swimming to shore",Alfred Burgess,M,20,"Tossed in air by shark, sustained abrasions",NaN
6021,12-Sep-1919,1919.0,Unprovoked,COSTA RICA,Turtle Bogue,Where Colorado River enters the sea,Small vessel with 13 men on board capsized cro...,6 males,M,NaN,"FATAL, 6 men were taken by sharks as they near...",NaN
6140,20-Sep-1911,1911.0,Unprovoked,USA,Florida,"Pensacola Bay, Escambia County",Fell overboard & swimming,"Thomas Ashe, a ships pilot",M,NaN,FATAL,NaN
6358,1898,1898.0,Unprovoked,CUBA,Camaguey Province,Nuevitas Harbor,Attempting to escape by swimming to shore,"5 American soldiers, prisoners",M,NaN,"FATAL, 4 were killed by sharks, 1 survived",NaN
6427,14-Apr-1893,1893.0,Unprovoked,AUSTRALIA,Queensland,Torres Strait,"Boat capsized, swimming ashore",Kangaroo,M,NaN,Leg bitten,NaN
6428,04-Apr-1893,1893.0,Unknown,AUSTRALIA,Tasmania,"Chimney Point, Georges Bay","Boat capsized, swimming ashore",Joseph Meredith,M,NaN,"Fatal, probable drowning",Shark involvement prior to death unconfirmed
7040,World War II,0.0,Unprovoked,PAPUA NEW GUINEA,Madang Province,Off Lae,"Aircraft ditched in the sea, swimming ashore",male,M,NaN,Shark bumped him,NaN
7053,Before 1921,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Crew swimming alongside their anchored ship,male,M,NaN,FATAL,NaN

Year filtering to use most modern data for our business approach

In [81]:
df2 = df[(df ['year'] >= 2000) & (df['year'] < 2027)].copy()
df2

,date,year,type,country,state,location,activity,name,sex,age,injury,species
0,20th January,2026.0,Unprovoked,Australia,NSW,Point Plomber North of Port Macquarie,Surfing,Paul Zvirdinas,M,39,Minor cuts and abrasions,Bull shark
1,19th January,2026.0,Unprovoked,Australia,NSW,Dee Why,Surfing,Unknown,M,11,None reported damage to board,Bull shark
2,19th January,2026.0,Unprovoked,Australia,NSW,North Steyne,Surfing,Andre de Ruyter,M,27,Serious Leg injuries,5m shark species not determined
3,18th January,2026.0,Unprovoked,Australia,NSW,Nielsen Park Vaucluse Sydney Harbour,Jumping off rocks,Nico Antic,M,12,Serious leg injuries,Bull shark
4,10th January,2026.0,Unprovoked,Australia,NSW,Avalon Beach,Surfing,Paul Stanton,M,?,Puncture mark to left thumb,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...
2813,03-Feb-2000,2000.0,Unprovoked,NEW ZEALAND,South Island,Oreti Beach (reported as the 4th person bitten...,Surfing,Michael Petas,M,12,"No injury, wetsuit punctured",NaN
2814,01-Feb-2000,2000.0,Unprovoked,AUSTRALIA,South Australia,"Point Sinclair, Cactus Beach near Penong",Surfing,Anthony Hayes,M,26,Hand bitten,3 m [10'] shark
2815,Reported 28-Jan-2000,2000.0,Unknown,REUNION,NaN,Saint Pierre,Canoe with 3 men onboard sank,Boulabha Ishmael,M,NaN,FATAL,NaN
2816,05-Jan-2000,2000.0,Unprovoked,THAILAND,Phang nga Province,Phang nga Island,Diving,Stephan Kahl,M,35,FATAL,NaN
2817,2000,2000.0,Unknown,USA,Florida,"Boca Grande, Lee County",Fishing for tarpon,"boat: occupant, Terry Winters",M,NaN,No injury to occupant; shark bit propeller,Hammerhead shark

In [82]:
df2["year"] = df2["year"].fillna(0).astype(int)

In [65]:
df2["year"].head()

0    2026
1    2026
2    2026
3    2026
4    2026
Name: year, dtype: int64

In [83]:
df2["activity"].value_counts()

activity
Surfing                                                            804
Swimming                                                           422
Fishing                                                            174
Spearfishing                                                       173
Snorkeling                                                         116
                                                                  ...
Attempting to free the shark                                         1
Walking in surf                                                      1
Jumpinf from dock to boat acidentally fell into water at marina      1
Swimming & snorkeling                                                1
Fishing for tarpon                                                   1
Name: count, Length: 375, dtype: int64

In [84]:
df2["injury"].value_counts()

injury
FATAL                                                                       178
Foot bitten                                                                  51
Left foot bitten                                                             34
No injury                                                                    27
Leg bitten                                                                   24
                                                                           ...
Torso nipped                                                                  1
Left arm and leg injured                                                      1
Injuries to right calf and thigh                                              1
Body washed up on beach with signs of shark attack bites and leg missing      1
No injury to occupant; shark bit propeller                                    1
Name: count, Length: 1760, dtype: int64

In [85]:
df2["activity"].unique()

array(['Surfing', 'Jumping off rocks', 'Snorkeling', 'Scuba Diving',
       'SCUBA Diving', 'Swimming', 'Freeing trapped shark',
       'Foil Boarding', 'Fishing', 'Swimming with sharks',
       'Fishing/swimming', 'Diving-Tagging sharks', 'Spearfishing',
       'Wading', 'Kayaking ', 'Surfing (Hydrofoiling)', 'Diving',
       'Paddling', 'Rescuing female companion ', 'snorkeling',
       'Undisclosed', 'Kayaking', 'Fishing was pulled of boat by shark',
       'Bathing', 'Disappeared whilst diving remains found in shark',
       'Diving for shellfish', 'Swimming - jumped off yacht',
       'Swimming - Diving ', 'Diving into Water',
       'Playing football in the water',
       'Unconfirmed Possibly swimming near the boat harbour',
       'Swimming ocean training ', 'Military ocean training',
       'snorkelling', 'Freediving',
       'Jumpinf from dock to boat acidentally fell into water at marina',
       'Free diving', 'Paddle boarding', 'Scuba diving',
       'On a round-the-world expedition', 'Kayak fishing',
       'Towing a dead whale out to sea', 'Boogie boarding', 'Sitting',
       'Watching the sardine run', 'Standing', 'Filming', 'Kite surfing',
       'Jumped overboard', 'Shark Feeding', 'Diving for crayfish',
       'Windsurfing', 'Kite-Surfing', 'Surf-sking',
       'Diving with  surface-supplied air', 'Spearishing',
       'Snorkeling at Shark Feeding site', 'Diving/Shark Feeding',
       'Surf skiing ', 'Shipwreck', 'Swimming  or Snorkeling',
       'Paddleboarding', 'Lobstering', 'Lifeguard Training Exercise',
       'Lifeguard Exercises', 'Scalloping', 'Jumped into water',
       'Playing in the water', 'Feeding sharks & stingrays', 'Fihing',
       'Surface Supplied  Diving', 'Floating in inflatable pool ring',
       'Fishing for sharks', 'Wing Foil Surfing', 'Boogie Boarding',
       'Swimmingq', 'Playing', 'Fishing, fell in water',
       'Harassing sharks', 'Squatting in the water',
       'Moving captive shark',
       "Jackass Team's publicity stunt for Discovery Channel's Shark Week 2021",
       'Canoeing', 'Parasailing', 'Kite Foiling', 'Baiting sharks',
       'Boggie boarding', 'Stand Up Paddleboarding', 'Tagging sharks',
       'Body boarding', 'Body surfing', 'Swimming / Kayaking',
       'Fell off fishing boat', 'Body Surfing', 'Foil-boarding',
       'Surf fishing',
       'Fishing / Filming sharks feeding on whale carcass', 'Sightseeing',
       'Treading water', 'Skimboarding', 'Body Boarding',
       'Stand-Up Paddleboarding', 'Stand-Up Paddle boarding', 'Floating ',
       'Swimming after being swept off rocks', 'Feeding sharks',
       'Kayaking fishing', 'Swimming/ Treading water',
       'Spearfishing / Diving', 'Fishing ', 'Body-surfing',
       'Abalone diving', 'Picking opihi', 'Diving in shark tank',
       'Paddling an outrigger canoe', 'Diving / Filming',
       'Swimming/Standing', 'Putting hand in shark tank', 'Floating',
       'Walking', 'Surf-skiing', 'Foilboarding', 'Cleaning fish',
       'Fishing / Wading', '2 boats capsized', 'Night bathing',
       'Surfing ', 'Kayaking / Fishing', 'Swimming, poaching abalone',
       'SUP', 'Touching a shark', 'Attempting to lasso a shark',
       'Photo shoot', 'Kakaying', 'Washing hands',
       'Grabbing shark for a selfie', 'Not stated', 'Body Recovery',
       'Cage Diving', 'Surfng', 'SUP Foil boarding', 'Floating in tube',
       'Teasing a shark', 'Diving for beche-de-mer', 'Feeding stingrays?',
       'Sea disaster', 'Lobster fishing', 'Swimming / Wading',
       'Fishing for shrimp', 'Photographing fish', 'Kayak Fishing',
       'Scallop diving on hookah', 'Body boarding ', 'Body surfing?',
       'Attempting to rescue a shark', 'Photographing the shark',
       'Standing / Snorkeling', 'Hand feeding sharks',
       'Sitting in the water', 'Transatlantic Rowing', 'Bodysurfing',
       'Rowing', 'Shark fishing', 'Surfing & filming dolphins',
       'Swimming after falling overboard', 'Fishing for blue sharks',
       'Standing in inner tube', 'Body surfing or Boogie boarding',
       'Feeding fish', 'Playing with an air mattress', 'Kite boarding',
       'Shark diving', 'Petting a shark', 'Kneeling in the water',
       'Fell into the water', 'Shark watching', 'Diving for lobsters',
       'Kite Surfing', 'Scuba diving / culling lionfish', 'Kitesurfing',
       'Sailing', 'Spearfishing / Free diving',
       'Free diving / Photographing pilot whales',
       'Filming a documentary',
       'Attempting to remove fishing net from submerged object',
       'Kiteboarding', 'Diving ', 'Swimming / snorkeling',
       'Diving for Abalone', 'Casting a net', 'Marathon swimming',
       'Longline fishing for sharks', 'Wrangling a shark',
       'Attempting to free the shark', 'Walking in surf', 'Swimming ',
       'Swimming & snorkeling', 'Playing in the surf', 'Fly fishing',
       "Fishing - 'tag & release'",
       'Swimming to shore with floatioon devices after boat engine conked out',
       'Dragging stranded shark into deeper water', 'Bodyboarding',
       'Swimming or boogie boarding', 'Wading or swimming',
       'Free diving ', 'Attempting to rescue an injured & beached shark',
       'Free diving / spearfishing', 'Crayfishing',
       'Diving, feeding sharks',
       'Attempting to Kite surf from Egypt to Saudi Arabia',
       'Fishing (illegally)', 'Diving, photographing sharks',
       'Wade fishing', 'Jumping in the waves', 'Wade Fishing',
       'Standing, collecting sea stars', 'Swimming or Snorkeling',
       'Kayaking or Wave skiing', 'Jet skiing',
       'Standing or boogie boardin', 'Kite Boarding',
       'Washing sand off a speared fish', 'Standing, holding shark pup',
       'Diving / fishing', 'Wakeboarding', 'Diving for abalone',
       'Shark fishing on the Ricardo Astorga',
       'Shark fishing on the Don Agustn-VI. ', 'Attempting to fix motor',
       'Swimming /  Whale Watching',
       'Swimming after boat became disabled', 'Rescuing',
       'Measuring sharks', 'Swimming / treading water',
       'Surf fishing / wading', 'Spearfishing (free diving)',
       'Paddling on kneeboard', 'Swimming to shore from capsized kayak',
       'Paddle-boarding',
       'Swimming, attempting to rescue a girl  believed to be drowning',
       'Washing his feet', 'Paddle-surfing', 'Crawling',
       'Diving, but on the surface when bitten by the shark',
       'Air Disaster', 'Crabbing', 'Yacht race',
       'Sinking of the cargo ship Mark Jason',
       'Fishing boat swamped in storm', 'Swimming, towing surfboard',
       'Swimming or surfing', 'Rowing an inflatable dinghy',
       'Sea Disaster', 'Night diving', 'Free-diving',
       'Walking out of the water after surfing', 'Fishing from surfski',
       "Accidentally stood on hooked shark's tail before attempting to gut it ",
       'Attempting to chase shark out to sea', 'Fishing for snapper',
       'Removing fish from a trap',
       'The 426-ton cargo ship Mia, laden with cement, capsized in heavy seas ',
       'Wading?', 'Jumping',
       'Floating near boat & observing bioluminesce',
       'Jumped into the water', 'Surf paddling', 'Murder',
       'Removing hook from shark', 'Reviving a sedated shark',
       'Shark tagging', 'Swimming / jumping off a jetty',
       'Playing on a sandbar', 'Shrimping', 'Swimming / Body Surfing',
       'Playing soccer in the water', 'Free diving / modeling',
       'Diving / Kissing the shark', 'Lifesaving drill',
       'Touching sharks',
       'Competing in the Woodvale Atlantic Rowing Race', 'Night Surfing',
       'Standing / Surfing', 'Treading water/ Surfing',
       'Removing shark from net',
       'Boogie boarding, kicked at object in the water',
       'Scuba diving in aquarium tank', 'Holding onto an inflatable boat',
       'Swimming with boogie board', 'Spearfishing (Free diving)',
       "Crouching in 2' of water", 'Diving in aquarium display tank',
       'Attempting to drive shark away from sailing regatta',
       'Fishing from a kayak',
       'Swept out to sea by the tsunami, she clung  to a log for 24 hours',
       'Scurfing (surfboard being  towed behind a boat)',
       'Chumming for white sharks', 'Spearfishing/ filming',
       'Diving & fishing with net',
       'Wading / fishing & carrying a bag of fish',
       'Fishing for squid aboard the trawler Shikishima-Maru when the shark leapt into the boat',
       'In water with diving seabirds', 'Swimming, poaching perlemoen',
       'Boogie-boarding / swimming', 'Free diving & spearfishing',
       'Tandem surfing',
       'Five men on makeshift raft after their 10 m fishing boat  capsized and sank in rough seas. Survivors rescued after  7.5 hours in the water',
       'Surf skiing', 'Kayaking (returning from spearfishing)',
       'Air disaster. Flash Airlines Boeing 737 crashed into the Red Sea',
       'Swimming / shipwreck', 'Surfing amid a shoal of sharks',
       'Swimming to shore from boat or kayak', 'Sitting on surfboard',
       'Wading near a fishing net', 'Wading to shore from his boat',
       'Standing, stepped on shark', 'Wade-fishing',
       'Swimming, wearing black wetsuit & swim fins',
       'Walking, carrying surfboard & stepped on shark',
       'Swimming with pod of dolphins', 'Killing  sharks',
       'Swimming (using a float)', 'Petting captive sharks', 'Unknown',
       "Fishing, standing in 2' of water", 'Fishing from Surfboard',
       'Boogie boarding or Surfing',
       'Wading, when he stepped on the shark', 'Shark Fishing',
       'Attempting to retreive a dinghy',
       'Snorkeling (filming the sardine run)', 'Floating on a raft',
       'Fishing, removing the shark from his line',
       'Playing in the surf with his 2 dogs', 'Collecting beche-de-mer',
       'Fishing from prawn trawler',
       'Scallop diving (using surface-supplied air & a POD) ',
       'Fishing (Drowned 2-Apr-2002)',
       'Surfing, but standing in water alongside board', 'Body-boarding',
       'Swimming /  boogie boarding', 'Capsized fishing boat',
       'Kite-Boarding',
       'Surfing, fell off surfboard & stepped on the shark.',
       'Wreck / Technical diving', 'Walking in shallows',
       'Fell off banana boat', 'Floating face-down in knee-deep water',
       'Hiking on the beach', 'Spearfishing, carrying his catch',
       'Standing alongside surfboard', 'Batin',
       'Attempting to catch a crocodile',
       "Sinking of the 40' Esperanza off St. Maartin with 36 refugees on board",
       'Fishing for whiting', 'Swimming back from anchored sailboat',
       'Diving for sea urchins', 'Diving (shell maintenance)',
       'Shipwrecked', 'Fell onto dead shark', 'Standing / surfing',
       'Swimming / Body surfing', 'Conducting research',
       'Swimming out to porpoises ',
       'Windsurfing, but sitting on his board', 'Surfing / Wading',
       'Attempting to illegally enter the USA',
       'Spearfishing, holding mesh bag with speared fish',
       'Air Disaster - Piper aircraft crashed into the sea, killing all on board',
       'Boogie boarding / wading', 'Feeding prawns to captive sharks',
       'Canoe with 3 men onboard sank', 'Fishing for tarpon'],
      dtype=object)

Cleaning the activity column

In [86]:
#1 Standardize text and fill missing value 
df2["activity"] = df2["activity"].fillna("unknown").str.lower().str.strip()

In [87]:
#2.Simplify activities using the list 
def most_common_activities():
    for words in activity_keywords:
        replace = df2["activity"].str.lower().str.strip().contains(words, na=False)
        return df2['Activity'].str.replace('swimming', 'Swimming', regex=True)

In [88]:
from collections import Counter

In [89]:
#values to a common case and remove leading/trailing spaces and special characters
df2['activity'] = df2['activity'].str.strip().str.lower().str.replace(r"[\"']", '', regex=True)

most_common_words = []

def word_count():
    global most_common_words  # declare the global variable
    df2['activity'] = df2['activity'].fillna('').astype(str)  # replace NaN values with an empty string
    all_text = ' '.join(df2['activity'])  # combine all values into a single string
    words = re.findall(r'\w+', all_text.lower())  # split into words
    word_counts = Counter(words) # count word frequency
    most_common_words = [word for word,count in word_counts.most_common(50)if len(word) >= 5]
    return most_common_words

most_common_words = word_count()
print(most_common_words)

['surfing', 'swimming', 'fishing', 'spearfishing', 'diving', 'boarding', 'snorkeling', 'wading', 'standing', 'scuba', 'boogie', 'shark', 'kayaking', 'sharks', 'water', 'skiing', 'playing', 'kayak', 'walking', 'feeding', 'floating', 'paddle', 'attempting', 'paddleboarding', 'disaster', 'stand', 'after', 'rowing', 'surfboard', 'sitting', 'filming']

In [100]:
selected_values_to_replace = ['spearfishing', 'paddleboarding', 'snorkeling','kayaking', 'skiing', 'rowing', 'boarding','swimming', 'fishing', 'diving', 'wading']

In [101]:
def replace_values(df2, selected_values_to_replace):
    for replace_activity in selected_values_to_replace:
        df2.loc[df2['activity'].str.contains(replace_activity, case=False, na=False), 'activity'] = replace_activity
    return df2

In [102]:
df2 = replace_values(df2, selected_values_to_replace)

# remove empty values
df2 = df2[df2['activity'].apply(lambda x: x.strip() != '')]

# retrieve 10 top activities within filtering step
df2 = df2[df2['activity'].isin((lambda x: x.index)(df2['activity'].value_counts().head(20)))] 

df2

,date,year,type,country,state,location,activity,name,sex,age,injury,species
0,20th January,2026,Unprovoked,Australia,NSW,Point Plomber North of Port Macquarie,surfing,Paul Zvirdinas,M,39,minor cuts and abrasions,Bull shark
1,19th January,2026,Unprovoked,Australia,NSW,Dee Why,surfing,Unknown,M,11,none reported damage to board,Bull shark
2,19th January,2026,Unprovoked,Australia,NSW,North Steyne,surfing,Andre de Ruyter,M,27,serious leg injuries,5m shark species not determined
4,10th January,2026,Unprovoked,Australia,NSW,Avalon Beach,surfing,Paul Stanton,M,?,puncture mark to left thumb,Unknown
5,8th January,2026,Unprovoked,US Virgin Islands,Fredricksted Island St Croix,Dorsch Beach,snorkeling,Arlene Lillis,F,56,left arm torn off in the attack below the elbow,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...
2811,19-Feb-2000,2000,Unprovoked,SOUTH AFRICA,Western Cape Province,Struis Bay,surfing,Dr. Weich,M,NaN,foot bitten,"White shark, 2.5 m"
2813,03-Feb-2000,2000,Unprovoked,NEW ZEALAND,South Island,Oreti Beach (reported as the 4th person bitten...,surfing,Michael Petas,M,12,"no injury, wetsuit punctured",NaN
2814,01-Feb-2000,2000,Unprovoked,AUSTRALIA,South Australia,"Point Sinclair, Cactus Beach near Penong",surfing,Anthony Hayes,M,26,hand bitten,3 m [10'] shark
2816,05-Jan-2000,2000,Unprovoked,THAILAND,Phang nga Province,Phang nga Island,diving,Stephan Kahl,M,35,fatal,NaN
2817,2000,2000,Unknown,USA,Florida,"Boca Grande, Lee County",fishing,"boat: occupant, Terry Winters",M,NaN,no injury to occupant; shark bit propeller,Hammerhead shark

In [91]:
def clean_activity_fixed(text):
    text = str(text).lower()
    # Check for the most specific terms first
    if 'spearfishing' in text: return 'spearfishing'
    if 'paddleboarding' in text: return 'paddleboarding'
    if 'fishing' in text: return 'fishing'
    if 'surfing' in text: return 'surfing'
    # ... add the rest of your list here
    return text # if no match, keep the original (or return 'other')

df2['activity'] = df2['activity'].apply(clean_activity_fixed)

In [103]:
df2['activity'].value_counts()

activity
surfing                 875
swimming                462
fishing                 455
diving                  171
boarding                147
snorkeling              125
wading                  104
standing                 49
kayaking                 36
skiing                   28
playing                  11
walking                  11
floating                 10
rowing                   10
canoeing                  9
sea disaster              9
feeding sharks            5
bathing                   4
jumping                   4
sitting on surfboard      4
Name: count, dtype: int64

In [99]:
#injury
df2["injury"].unique()

array(['minor cuts and abrasions', 'none reported damage to board',
       'serious leg injuries', ..., 'fingers bitten provoked incident',
       'no injury, wetsuit punctured',
       'no injury to occupant; shark bit propeller'],
      shape=(1729,), dtype=object)

In [98]:
df2['injury'] = df2['injury'].fillna('').str.strip().str.lower().str.replace(r"[\"']", '', regex=True)

In [129]:
def extract_body_part(text):
    text = str(text).lower()
    
    # Define body part categories and their related keywords
    if any(word in text for word in ['leg', 'thigh', 'calf', 'knee', 'foot', 'feet', 'ankle', 'toe']):
        return 'Lower Extremity'
    
    elif any(word in text for word in ['arm', 'hand', 'finger', 'wrist', 'elbow', 'shoulder', 'forearm']):
        return 'Upper Extremity'
    
    elif any(word in text for word in ['torso', 'chest', 'back', 'abdomen', 'trunk']):
        return 'Torso'
    
    elif any(word in text for word in ['head', 'face', 'neck', 'scalp']):
        return 'Head/Neck'
    
    elif any(word in text for word in ['no injury', 'board', 'kayak', 'boat', 'propeller']):
        return 'No Body Part (Equipment/None)'
        
    else:
        return 'Multiple/Unspecified'

# Apply to your DataFrame
df2['body_part'] = df2['injury'].apply(extract_body_part)

In [131]:
df2.head(10)

,date,year,type,country,state,location,activity,name,sex,age,injury,species,Body_Part,body_part
0,20th January,2026,Unprovoked,Australia,NSW,Point Plomber North of Port Macquarie,surfing,Paul Zvirdinas,M,39,minor cuts and abrasions,Bull shark,Multiple/Unspecified,Multiple/Unspecified
1,19th January,2026,Unprovoked,Australia,NSW,Dee Why,surfing,Unknown,M,11,none reported damage to board,Bull shark,No Body Part (Equipment/None),No Body Part (Equipment/None)
2,19th January,2026,Unprovoked,Australia,NSW,North Steyne,surfing,Andre de Ruyter,M,27,serious leg injuries,5m shark species not determined,Lower Extremity,Lower Extremity
4,10th January,2026,Unprovoked,Australia,NSW,Avalon Beach,surfing,Paul Stanton,M,?,puncture mark to left thumb,Unknown,Multiple/Unspecified,Multiple/Unspecified
5,8th January,2026,Unprovoked,Us Virgin Islands,Fredricksted Island St Croix,Dorsch Beach,snorkeling,Arlene Lillis,F,56,left arm torn off in the attack below the elbow,Unknown,Upper Extremity,Upper Extremity
6,3rd January,2026,Provoked,New Caledonia,Kl,Between Bourail and Moindou,diving,Unknown,M,?,injuries to upper limbs,Unknown,Multiple/Unspecified,Multiple/Unspecified
7,21st December,2016,Unprovoked,Australia,Western Australia,Ocean Reef North Perth,diving,Tanveer Dhillon,M,?,none to report,Great White Shark,Multiple/Unspecified,Multiple/Unspecified
8,21st December,2025,Unprovoked,USA,California,Lovers Point Pacific Grove,swimming,Erica Fox,F,55,taken by shark body recovered with multiple in...,Great White Shark,Multiple/Unspecified,Multiple/Unspecified
9,12th December,2025,Unprovoked,USA,Sonoma County California,Salmon Creek,surfing,Unknown,M,?,hand injury,Suspected Great White Shark,Upper Extremity,Upper Extremity
11,27th November,2025,Unprovoked,Australia,NSW,Crowdy Bay,swimming,Lukas Schindler,M,26,serious leg injuries,3m Bull shark,Lower Extremity,Lower Extremity

In [ ]:
df2["species"].value_counts() #3 categories only, because rest of data to unconcrete?

species
White shark                                        93
Bull shark                                         51
Tiger shark                                        48
Shark involvement not confirmed                    46
4' shark                                           31
                                                   ..
Tiger shark, 3.5 m                                  1
3.5 to 4 m shark                                    1
2 m to  3 m shark                                   1
Bull shark, 1.3 m                                   1
Shortfin mako shark, 3 m to 3.4 m [10' to 11']      1
Name: count, Length: 805, dtype: int64

In [118]:
def country_formatting(df):
    def fix_name(x):
        # 1. Skip if it's not text (handles NaN/empty cells)
        if not isinstance(x, str):
            return x
        
        # 2. Clean whitespace and make lowercase for checking
        name = x.strip().lower()
        
        # 3. Handle specific abbreviations (Force Uppercase)
        abbreviations = ['usa', 'uk', 'uae']
        if name in abbreviations:
            return name.upper()
        
        # 4. Handle everything else (Capitalize Every Word)
        # .title() turns "south africa" into "South Africa"
        return name.title()

    df['country'] = df['country'].apply(fix_name)
    return df

# Apply the change
df2 = country_formatting(df2)

In [128]:
df2["country"].nunique()

99

In [126]:
df2["country"]

0               Australia
1               Australia
2               Australia
4               Australia
5       Us Virgin Islands
              ...
2811         South Africa
2813          New Zealand
2814            Australia
2816             Thailand
2817                  USA
Name: country, Length: 2529, dtype: object

In [127]:
df["country"].nunique()

244

In [ ]:
#Plan:
#categorize: activity 
#Filtrar datos?
#groupby
#we want to create gear for male/or fewmale depending on the activity perfomed, there are diferent product needs
# as a marketing campaign, we want to know, how many provoked incidents there are and if these are related with the activity types

#Bonus: 
#to which markets (countries) we can sell or products based on incident numbers